nav{
background-color: rgb(216, 130, 2);
padding: 10px;
text-align: justify;
border-radius: 0px;
}

.link{
  color: #FFF;
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
  font-size: 150%;
}

.link:hover{
  color: rgb(0, 0, 0);
}
