.links{
  color: #3366cc;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  margin-right: 5px;  

}

.links:hover{
  color: rgb(255, 255, 255);
}

.btn {
  float: right;
  height: 50px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #3366cc;
  color:rgb(255, 255, 255);
  border: none;
  font-weight: bold;
}

.back{
  background-color: rgb(216, 130, 2);
}
img{
  display: block;
  display: inline-block;
  width: 300px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}