.links{
  color: #3366cc;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  margin-right: 5px;
}

.links:hover{
  color: rgb(255, 255, 255);
}

.btn {
  float: right;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #3366cc;
  color:rgb(255, 255, 255);
}